.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ensures the sections stay in line */
}

.notifications-section {
  width: 75%; /* Take 3/4 of the screen */
  padding-right: 15px;
}

.lost-found-section {
  width: 25%; /* Take 1/4 of the screen */
  padding-left: 15px;
}

.vertical-line {
  width: 1px; /* Creates the vertical line */
  background-color: #ccc;
  height: 100%; /* Stretch the line across the height */
  transition: all 0.3s ease-in-out; /* Add transition for lighting effect */
}

/* Lighting effect on hover */
.vertical-line:hover {
  background-color: #084ec6;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

/* Tooltip container */
.tooltip {
  position: absolute;
  bottom: 60px; /* Adjust the position of the tooltip */
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

/* Tooltip visible state */
.tooltip-visible {
  visibility: visible;
  opacity: 1;
}

/* Updated Search Bar Styles */
.search-bar {
  display: flex;
  gap: 20px;
  position: relative;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

.search-bar input {
  width: 600px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: larger;
  background-color: white;
  color: black;
}

.search-bar button {
  width: 150px;
  border-radius: 35px;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #084ec6;
  color: #fff;
  cursor: pointer;
  font-size: larger;
}

.search-bar button:hover {
  background-color: #333;
}

/* Suggestion Dropdown Styles */
.suggestions-dropdown {
  position: absolute;
  top: 100%;
  left: 100px;
  width: 39%;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 10;
  max-height: 300px;
  overflow-y: auto;
  font-size: 16px;
  margin-left: 280px;
  justify-content: left;
  color: #fff;
  padding: 10px;
}

/* Suggestion Items */
.suggestion-item {
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  text-align: left;
  font-weight: 400;
  border-radius: 8px;
}

.suggestion-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(10px);
}

.suggestion-item + .suggestion-item {
  border-top: 1px solid #444;
}

.suggestions-dropdown {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.suggestions-dropdown.show {
  opacity: 1;
  visibility: visible;
}
